/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2019, 5:22:08 PM
    Author     : Nitin Chauhan
*/

.content {
    min-height: 600px; 
}
.banner-image{
     padding-bottom: 50px;     
     margin-bottom: 20px;     
     text-align: center;    
     color: #f8f8f8;   
     background:url('intro-bg_1.jpg') no-repeat center;   
     background-size: cover; 
}
.inner-banner-image{
    padding-top: 12%;   
    width:80%;    
    margin:auto; 
}
.banner_content{
     position: relative;    
     padding-top: 6%;     
     padding-bottom: 6%;   
     overflow:hidden;     
     margin-bottom: 12%;  
     background-color: rgba(0, 0, 0, 0.7);
     max-width: 660px; 
}
.button{
    color: #fff;  
    background-color: #c9302c;   
    border-color: #ac2925;    
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);    
    padding: 10px 16px;     
    font-size: 18px;   
    border-radius: 6px; 
}

.container{
    width:90%;   
    margin:auto;  
    overflow:hidden; 
}
.items{
    width:30%;   
    display: block; 
    padding: 4px;   
    margin-bottom: 20px;  
    line-height: 1.42857143;   
    background-color: #fff;   
    border: 1px solid #ddd;   
    border-radius: 4px;   
    float:left;    
    margin-left:1%; 
}
.thumbnail{
     display: block;    
     max-width: 100%;   
     height: auto; 
}
.caption{
    color:#000;  
    padding:0px 10px 10px;  
    font-weight: bold;   
    text-align: center; 
}
footer{
      padding: 10px 0;
      background-color: #101010; 
      color:#9d9d9d; 
      bottom: 0; 
      width: 100%; 
}
.hero{
    height: 100vh;
    width:100%;
    background-image:url(sky.jpg);
    background-position:center;
    position:relative;
    overflow-x:hidden;
}
.highway {
    height: 200px;
    width:500%;
    display:block;
    background-image:url(road.jpg);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}
@keyframes highway
{
    100%{
        transform: translateX(-3400px);
    }
}
.city{
    height:250px;
    width:500%;
    background-image:url(city.png);
    position:absolute;
    bottom:200px;
    left:0;
    right:0;
    display:block;
    z-index:1;
    backgroung-repeat:repeat-x;
    animation:city 20s linear infinite;
}
@keyframes city
{
    100%{
        transform:translateX(-1400px);
    }
}
.car{
    width:400px;
    left:50%;
    bottom:100px;
    transform:translateX(-50%);
    position:absolute;
    z-index:2;
}
.car img
{
    width: 100%;
    animation:car 1s linear infinite;
}
@keyframes car
{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.wheel{
    left:50%;
    bottom:178px;
    transform:translateX(-50%);
    position: absolute;
    z-index:2;
}
.wheel img{
    width:72px;
    height:72px;
    animation:wheel 1s linear infinite;
    
}
.back-wheel
{
    left:-165px;
    position:absolute;
}
.front-wheel
{
    left:80px;
    position:absolute;
}
@keyframes wheel
{
    100%{
        transform:rotate(360deg);
    }
}
